<h2>Sightings:</h2>
  <% @sightings.each do |sighting| %>
  <p>
    <h3><%= sighting.bird.name %></h3>
    <h4><a href="/users/<%= sighting.user.slug %>"><%= sighting.user.username %></a></h4>
    <ul>
      <li>Location: <%= sighting.location %></li>
      <li>Date: <%= "#{sighting.date}, #{sighting.time}"%></li>
      <% if sighting.notes %> <li>Notes: <%= sighting.notes %></li> <% end %>
    </ul>
  </p>
    <% if sighting.user == current_user %>  
      <p>- <a href="/sightings/<%= sighting.id %>/edit">Edit</a> or <a href="/sightings/<%= sighting.id %>/delete">delete</a> this sighting</p>
    <% end %>
  <% end %>
  <p><a href="/sightings/new">Add Sighting</a></p>