<h3>Sighting by <a href="/users/<%= @sighting.user.slug %>"><%= @sighting.user.username %></a></h3>
<h4>Bird: <%= @sighting.bird.name %></h4>
<ul>
  <li>Location: <%= @sighting.location %></li>
  <li>Date: <%= "#{@sighting.date}, #{@sighting.time}" %></li>
</ul>
<br></br>
<p><a href="sightings/<%= @sighting.id %>/edit">Edit Sighting</a></p>
<p><a href="sightings/<%= @sighting.id %>/delete">Delete Sighting</a></p>