<h2>Sighting by <a href="/users/<%= @sighting.user.slug %>"><%= @sighting.user.username %></a></h2>
<h4>Bird: <a href="/birds/<%= @sighting.bird.slug %>"><%= @sighting.bird.name %></a></h4>
<ul>
  <li>Location: <%= @sighting.location %></li>
  <li>Date: <%= "#{@sighting.date}, #{@sighting.time}" %></li>
  <% if @sighting.notes != "" %> 
    <li>Notes: <%= @sighting.notes %></li> 
  <% end %>
</ul>
<br></br>
  <% if @sighting.user == current_user %>  
    <p><a href="/sightings/<%= @sighting.id %>/edit">Edit</a> or <a href="/sightings/<%= @sighting.id %>/delete">delete</a> this sighting</p>
  <% end %>
<p><a href="/sightings">All Sightings</a> | <a href="/birds">All Birds</a> | <a href="/sightings/new">Add Sighting</a></p>