<h2><%= @user.username %>'s Sightings:</h2>

<% if @user.sightings.size > 0 %>
  <% @user.sightings.order_by(&:date).each do |sighting| %>
  <p>
    <h4><a href="/birds/<%= sighting.bird.slug %>"><%= sighting.bird.name %></a></h4>
    
    <ul>
      <li>Location: <%= sighting.location %></li>
      <li>Date: <%= "#{sighting.date}, #{sighting.time}"%></li>
      <% if sighting.notes %> 
        <li>Notes: <%= sighting.notes %></li> 
      <% end %>
    </ul>
  </p>
    <% if sighting.user == current_user %>  
      <p>- <a href="/sightings/<%= sighting.id %>/edit">Edit</a> or <a href="/sightings/<%= sighting.id %>/delete">delete</a> this sighting</p>
    <% end %>
  <% end %>
<% else %>
  <h4>You have no sightings to list. Add a new sighting <a href="/sightings/new">here.</a></h4>
<% end %>
<p><a href="/sightings">All Sightings</a> | <a href="/birds">All Birds</a> | <a href="/sightings/new">Add Sighting</a></p>