<h2><%= @bird.name %></h2>
<h3><%= "#{@bird.sightings.size} Sighting#{@bird.sightings.size == 1 ? '' : 's'}:" %></h3>
<% if @bird.sightings.size > 0 %>
  <% @bird.sightings.sort_by(&:date).each do |sighting| %>
  <p>
    <ul>
      <li>Date: <%= "#{sighting.date}, #{sighting.time}"%></li>
      <li>Location: <%= sighting.location %></li>
      <li>User: <a href="/users/<%= sighting.user.slug %>"><%= sighting.user.username %></a></li>
      <% if sighting.notes != "" %> 
        <li>Notes: <%= sighting.notes %></li> 
      <% end %>
    </ul>
  </p>
    <% if sighting.user == current_user %>  
      <p>- <a href="/sightings/<%= sighting.id %>/edit">Edit</a> or <a href="/sightings/<%= sighting.id %>/delete">delete</a> this sighting</p>
    <% end %>
  <% end %>
<% else %>
  <h4>This bird has no sightings. Add a new sighting for it <a href="/sightings/new">here.</a></h4>
<% end %>

<p><a href="/sightings">All Sightings</a> | <a href="/birds">All Birds</a> | <a href="/sightings/new">Add Sighting</a></p>

